#infoPuertas{
  position: absolute;
  margin-left: 250px;
  margin-top: -60px;
}

#infoPuerta1,#infoPuerta2,#infoPuerta3 {
  display: inline-block;
  margin-left: 125px;
}

table {
	font-family: verdana;
	font-size: 0.8em;
}

#mensajesGeneralesPuertas {
	border-radius: 0px 0px 20px 20px;
	height: auto;
	min-height: 25px;
	position: absolute;
	margin-top: 75px;
	margin-left: 80px;
	background-color: black;
	width: 600px;	
	table-layout: fixed;
	color: white;
}

#mensajePuertaGanadora {
	border-radius: 20px 20px 0px 0px;
	height: auto;
	min-height: 25px;
	position: absolute;
	margin-top: 50px;
	margin-left: 80px;
	background-color: black;
	width: 600px;	
	table-layout: fixed;
	color: white;
}

td {

	width: 33%;
}

#tableContainer {
	height: 200px;
	text-align: center;
}

#chart-example {
	overflow: auto;
	display: inline-block;
}

.dynatable-head{
	background-color: green;	
}

#chart-example thead tr{
    display:block;
}

#chart-example th,#chart-example td{
    width:200px;//fixed width
}

#chart-example  tbody{
  display:block;
  height:200px;
  overflow:auto;//set tbody to auto
}