html {
	height: 100%;
	font-family:helvetica;
}

#grad1 {
	height: auto
	background: red; /* For browsers that do not support gradients */
	background: linear-gradient(lightblue, blue); /* Standard syntax (must be last) */
	background: linear-gradient(to top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
}

#puertas {
	margin-top: 10px;
	margin-left: 340px;
}
.blackDoor {
	display: inline-block;
	background-image: url('../img/closedDoorBlack.png');
	background-size: 192px;
	height: 330px;
	width: 192px;
}

.blackDoorHover:hover {
	display: inline-block;
	background-image: url('../img/openDoorBlack.png');
	background-size: 192px;
	height: 330px;
	width: 192px;
}

.redDoor {
	display: none;
	background-image: url('../img/closedDoorRed.png');
	background-size: 192px;
	height: 330px;
	width: 192px;
}

.redDoorHover:hover {
	display: none;
	background-image: url('../img/openDoorRed.png');
	background-size: 192px;
	height: 330px;
	width: 192px;
}

#data {
	position: absolute;
	font-size: 0.9em;
}

#controlesMusica {
	position: absolute;
	margin-left: 950px;
}

#botonRestart {
	position: absolute;
	margin-top: 40px;
	margin-left: 1050px;
}

#divTabla{
	margin:auto;
	width: 600px;

}

#borrarBase{
	position: absolute;
	right: 350px;
	bottom: 35px;
}